* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #ffff;
  text-decoration: none; }

ul {
  list-style: none; }

.is-transitioning {
  pointer-events: none;
  cursor: progress; }

a:hover {
  color: #484848; }

a {
  transition: color 0.5s ease-in-out; }

#navigation {
  height: 110px;
  background-color: #101010;
  opacity: 0.3;
  transform: translateY(-110px);
  animation: moveDown 1s ease-in-out 0.3s forwards; }
  #navigation .container {
    height: 100%;
    width: 100%;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #navigation .container #logo {
      height: 80px;
      width: 80px;
      background: url("../img/logo.png") no-repeat center center/cover;
      background-color: #ffff;
      border-radius: 50%; }
    #navigation .container .places {
      display: flex;
      justify-content: space-between; }
      #navigation .container .places .links {
        display: flex;
        list-style-type: none; }
        #navigation .container .places .links li {
          padding: 10px; }
      #navigation .container .places .social-media {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #navigation .container .places .social-media li {
          padding: 10px; }
      #navigation .container .places a {
        font-size: 1.3em; }

@keyframes moveDown {
  100% {
    transform: translateY(0);
    opacity: 1; } }

#home-intro {
  height: calc(100vh + 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  #home-intro .container {
    width: 800px;
    height: calc(100vh);
    position: relative;
    margin-top: 200px;
    transform: translateX(-90px); }
    #home-intro .container .regular-photo {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center; }
      #home-intro .container .regular-photo img {
        width: 750px;
        opacity: 0.5; }
    #home-intro .container .art-photo {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      z-index: 10;
      width: 750px; }
      #home-intro .container .art-photo img {
        width: 100%;
        height: 100%;
        transform: translateX(50px); }

#recent-projects {
  width: 100%;
  height: 100vh;
  margin-top: 40px; }
  #recent-projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; }
    #recent-projects .container .title {
      display: flex; }
      #recent-projects .container .title * {
        padding: 0 15px; }
      #recent-projects .container .title .line {
        width: 300px;
        height: 1px;
        background: #333;
        margin: 12px 0; }
      #recent-projects .container .title .text h3 {
        margin: 0;
        font-size: medium;
        color: #484848; }

.is-transitioning {
  pointer-events: none;
  cursor: progress; }

a:hover {
  color: #484848; }

a {
  transition: color 0.5s ease-in-out; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #ffff;
  text-decoration: none; }

ul {
  list-style: none; }

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #about-intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3; }
    #about-intro .container {
      padding-top: 100px; }
      #about-intro .container .top {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        /* Three columns each 100px wide */
        grid-gap: 10px;
        justify-items: center;
        border-bottom: 0.5px solid #818181; }
        #about-intro .container .top .about-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transform: translateX(-300px);
          padding-left: 35px; }
        #about-intro .container .top .about-image {
          height: 400px;
          width: 400px;
          background: url("../img/art-photo.png") no-repeat center center/cover;
          opacity: 0;
          transform: translateX(300px); }
      #about-intro .container .bottom {
        margin-top: 40px; }
        #about-intro .container .bottom .photo {
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 10px;
          width: 790px;
          /* Set the width of the grid container */
          margin: 0 auto;
          /* Center the grid container */
          padding-inline-start: 0;
          opacity: 0;
          padding-bottom: 170px; }
          #about-intro .container .bottom .photo-1 {
            height: 100px;
            width: 100%;
            background: url("../img/about-1.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
          #about-intro .container .bottom .photo-2 {
            height: 100px;
            width: 100%;
            background: url("../img/about-2.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
          #about-intro .container .bottom .photo-3 {
            height: 100px;
            width: 100%;
            background: url("../img/about-3.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
          #about-intro .container .bottom .photo-4 {
            height: 100px;
            width: 100%;
            background: url("../img/about-4.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
          #about-intro .container .bottom .photo-5 {
            height: 100px;
            width: 100%;
            background: url("../img/about-5.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
          #about-intro .container .bottom .photo-6 {
            height: 100px;
            width: 100%;
            background: url("../img/about-6.jpg") no-repeat center center/cover;
            border: 1px solid #beb0b0;
            border-radius: 5px;
            padding: 4px; }
  #about-skills {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    #about-skills .container {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      /* Three columns each 100px wide */
      grid-gap: 10px;
      place-items: center; }
      #about-skills .container .left .concept {
        padding-inline-start: 0; }
      #about-skills .container .center-up {
        background: url("../img/skills-section.png") no-repeat center center/cover;
        width: 200px;
        height: 200px;
        transform: translateY(200px);
        opacity: 0; }
      #about-skills .container .right .concept {
        padding-inline-start: 0; }
  #about-story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    z-index: 1; }
    #about-story .container {
      display: grid;
      grid-template-columns: repeat(2, 450px);
      /* Three columns each 100px wide */
      grid-gap: 10px;
      place-items: center; }
      #about-story .container .left {
        padding: 30px;
        padding-left: 60px;
        transform: translateY(-200px);
        opacity: 0; }
        #about-story .container .left a {
          color: #333 !important; }
      #about-story .container .right {
        transform: translateX(200px);
        opacity: 0;
        padding: 30px;
        padding-left: 60px; }
        #about-story .container .right .img {
          position: relative;
          background: url("../img/workspace-story-section.jpg") no-repeat center center/cover;
          width: 270px;
          height: 270px;
          border-radius: 5px; }
          #about-story .container .right .img .bubble {
            position: absolute;
            top: 30px;
            left: -65px;
            background: url("../img/my-story-i.jpg") no-repeat center center/cover;
            width: 130px;
            height: 130px;
            border: 3px solid #fff;
            border-radius: 50%; }

.portfolio-leave {
  opacity: 1; }

.portfolio-leave-active {
  transition: opacity 0.75s linear; }

.portfolio-leave-to {
  opacity: 0; }

.portfolio-enter {
  position: absolute;
  top: 0;
  z-index: 10;
  clip-path: circle(0%); }

.portfolio-enter-active {
  transition: clip-path 0.75s linear; }

.portfolio-enter-to {
  clip-path: circle(75%); }

.transition {
  height: 100vh;
  width: 100%;
  background: black; }

.blogy-leave-active,
.blogy-enter-active,
.blogy-leave-active .transition,
.blogy-enter-active .transition {
  transition: transform 0.75s ease-in-out; }

.blogy-leave .transition {
  transform: translateY(-100%); }

.blogy-leave-to .transition {
  transform: translateY(0); }

.blogy-enter .transition {
  transform: translateY(0); }

.blogy-enter-to .transition {
  transform: translateY(100%); }

.is-transitioning {
  pointer-events: none;
  cursor: progress; }

a:hover {
  color: #484848; }

a {
  transition: color 0.5s ease-in-out; }

body {
  font-family: Verdana, Tahoma, sans-serif;
  position: relative; }

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #f14747;
  z-index: 1;
  visibility: hidden;
  opacity: 0; }

#index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #fff; }

#about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #fff; }

#portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #fff; }

#blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #fff; }

#contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #fff; }

.fadeIn {
  transform: translateX(0) !important;
  opacity: 1 !important;
  transition: all 1.2s ease-in-out; }

.fadeIn-Up {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: all 1.2s ease-in-out; }

.fadeIn-vertical {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: all 1.2s ease-in-out; }

.grow {
  width: 200px !important;
  transition: width 0.6s ease-in-out; }
